@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap");

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;

  background-image: url("https://i.pinimg.com/control1/736x/ed/38/b4/ed38b48cc343cac1ac3b9059eeaad9e1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-container{
  width:900px;
  background:#232931;
  color:#fff;
  border-radius:25px;
  box-shadow:0 5px 15px rgba(0,0,0,0.35);
}

.weather--wrapper{
  display:grid;
  grid-template-columns:3fr 4fr;
}

.weather--img{
  border-radius:25px;
  background-image:url("https://imgs.search.brave.com/n8rp7wed226In_jUz4twa7T4rzbUI5vPlpUkncJy6JM/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvNDc3/MTEwNzA4L3Bob3Rv/L3dlYXRoZXItZm9y/ZWNhc3QuanBnP3M9/NjEyeDYxMiZ3PTAm/az0yMCZjPXBsYklY/WDltSXM3RzkyeF9I/QmM1S2diYkhlZjVT/LVYxMzB0OVNxQWFi/S0k9");
  background-size:cover;
  background-position:center;
}

.weather_content{
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.weather_content form{
  display:flex;
  gap:10px;
}

.weather_content input{
  flex:1;
  padding:10px;
  border:none;
  border-radius:5px;
}

.btn_search{
  padding:10px 20px;
  border:none;
  background:#5c6bc0;
  color:white;
  border-radius:5px;
  cursor:pointer;
}

.day_info{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.content{
  background: rgba(255,255,255,0.08);
  padding: 15px 20px;
  border-radius: 12px;
  backdrop-filter: blur(10px);
  transition: transform 0.2s ease;
}

.title{
  font-size: 12px;
  letter-spacing: 1px;
  color: #b5b5b5;
}

.value{
  font-size: 20px;
  font-weight: 600;
}

.content:hover{
  transform: translateY(-4px);
}